
@model TaskInfo

<h1>Add or Edit the Tasks</h1>


<form method="post">
    <label asp-for="TaskName">Task Name:</label>
    <input asp-for="TaskName" >
    <br><br>
    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate">
    <br><br>
    <label asp-for="Quadrant">Quadrant:</label>
    <select asp-for="Quadrant">
        <option value="">Select a Quadrant</option>
        @foreach(Category c in ViewBag.Quadrants)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br><br>
    <label asp-for="Category">Category:</label>
    <select asp-for="Category">
        <option value="">Select a Category</option>
        @foreach (Quadrant q in ViewBag.Categories)
        {
            <option value="@q.QuadrantId">@q.QuadrantName</option>
        }
    </select>
    <br><br>
    <label asp-for="Completed">Completed:</label>
    <select asp-for="Completed">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br><br>
    <button type="submit">Submit</button>
</form>