@{
    ViewData["Title"] = "Confirmation";
}
@model TaskInfo

<h2>Task Added</h2>
<h3>@Model.TaskName has been added tp @Model.Quadrant.QuadrantName</h3>
<h4>Click <a asp-controller="Home" asp-action="AddOrEdit">here</a> to add another task.</h4>
