@{
    ViewData["Title"] = "Confirmation";
}
@model TaskInfo

<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>Task Added</h2>
            <h3>@Model.TaskName has been added tp @Model.Quadrant.QuadrantName</h3>
            <h4>Click <a asp-controller="Home" asp-action="AddOrEdit">here</a> to add another task.</h4>
        </div>
    </div>
</div>


