@{
    ViewData["Title"] = "Delete";
}
@model TaskInfo

<h2>Record Deletion Page</h2>


<form method="post">
    <input type="hidden" asp-for="TaskId" />

    <br /><br />
    <h3>Are you sure you would like to delete the record for @Model.TaskName in quadrant @Model.QuadrantId ?</h3>
    <br /><br />
    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="QTest">Cancel</a>
    

</form> 