html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.navbar-brand {
    margin-right: auto; /* Pushes the brand to the left */
}

.navbar-collapse ul {
    margin-left: auto; /* Pushes the links to the right */
}

.footer {
    text-align: center; /* Centers the text in the footer */
}

.navbar {
    padding-left: 20px; /* Adds padding */
    padding-right: 20px; 
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; 
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #555; 
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link:not(.active) {
    background-color: #e0e0e0; /* Background color on hover */
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #afafaf; /* Background color for active page */
}


